{% extends 'navbar.html' %}
{% block title %} Complete Password  {% endblock title %}
{% block content %}


<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <br>
          <h3>Completed Password</h3>
          <div>
            <iframe src="https://media.giphy.com/media/KBxyo8FDKE33qnj3KB/giphy.gif" width="200" height="200"
                frameborder="0" class="giphy-embed" allowfullscreen></iframe>
          </div>
        </div>
    </div>
</div>

{% endblock content %}